sabrina_code/
new_msmc_outputs/
dportik_dadi_pipeline/
.Rproj.user
gone/gone_prelim_results/
gone/.RData
gone/.Rhistory
gone/cra_gone_plot.pdf
gone/gone-r1.8-maf-0.01-rep1.zip
gone/gone-r1.8-maf-0.01/
gone/gone-r1.8-maf-0.01cra_gone_plot_replicates.pdf
gone/gone.Rproj

